{% extends 'base.html' %}
{% load i18n %}

{% block title %}Басты бет{% endblock title %}


{% block content %}
<!-- Headliner -->
<div class="w-full mx-auto">
    <div class="swiper mySwiper w-full aspect-video">
        <div class="swiper-wrapper">
            {% for item in headliners %}
                <div class="swiper-slide bg-primary-100">
                    <div class="w-full h-full flex justify-center items-center text-7xl">
                        <img src="{{ item.poster.url }}" class="w-full h-full" alt="{{ item.title }}">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<!-- Programs -->
<div class="relative border-b border-border-200">
    <div class="max-w-6xl w-full mx-auto px-4 py-8 md:py-16 grid gap-8">
        <div class="max-w-screen-sm w-full mx-auto flex flex-col items-center gap-4">
            <h1 class="font-semibold text-2xl lg:text-3xl xl:text-4xl">{% translate 'Admission committee' %}</h1>
            <div class="h-2 bg-amber-500 w-48"></div>
            <span class="block text-muted text-center">
                {% translate 'Admission committee of the South Kazakhstan Pedagogical University named after O. Zhanibekov' %}
            </span>
        </div>
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <!-- Bachelor -->
            <a 
                href="/content/bachelor/list-of-educational-programs/list-of-educational-programs/"
                class="grid gap-2 text-center bg-primary-600 rounded-xl p-6 text-white transition-all hover:bg-secondary-100 hover:text-foreground"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-icon lucide-user mx-auto">
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                    <circle cx="12" cy="7" r="4" />
                </svg>
                <h1 class="font-medium text-xl">{% translate 'Bachelor' %}</h1>
            </a>

            <!-- Magistracy -->
            <a 
                href="/content/magistracy/list-of-educational-programs/list-of-educational-programs/"
                class="grid gap-2 text-center bg-primary-600 rounded-xl p-6 text-white transition-all hover:bg-secondary-100 hover:text-foreground"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-graduation-cap-icon lucide-graduation-cap mx-auto">
                    <path
                        d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z" />
                    <path d="M22 10v6" />
                    <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5" />
                </svg>
                <h1 class="font-medium text-xl">{% translate 'Magistracy' %}</h1>
            </a>

            <!-- Doctoral -->
            <a 
                href="/content/doctoral/list-of-educational-programs/list-of-educational-programs/"
                class="grid gap-2 text-center bg-primary-600 rounded-xl p-6 text-white transition-all hover:bg-secondary-100 hover:text-foreground"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-atom-icon lucide-atom mx-auto">
                    <circle cx="12" cy="12" r="1" />
                    <path
                        d="M20.2 20.2c2.04-2.03.02-7.36-4.5-11.9-4.54-4.52-9.87-6.54-11.9-4.5-2.04 2.03-.02 7.36 4.5 11.9 4.54 4.52 9.87 6.54 11.9 4.5Z" />
                    <path
                        d="M15.7 15.7c4.52-4.54 6.54-9.87 4.5-11.9-2.03-2.04-7.36-.02-11.9 4.5-4.52 4.54-6.54 9.87-4.5 11.9 2.03 2.04 7.36.02 11.9-4.5Z" />
                </svg>
                <h1 class="font-medium text-xl">{% translate 'Doctoral' %}</h1>
            </a>

            <!-- Retraining course -->
            <a 
                href="/content/retraining-courses/list-of-educational-programs/list-of-educational-programs/"
                class="grid gap-2 text-center bg-primary-600 rounded-xl p-6 text-white transition-all hover:bg-secondary-100 hover:text-foreground"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-id-card-lanyard-icon lucide-id-card-lanyard mx-auto">
                    <path d="M13.5 8h-3" />
                    <path d="m15 2-1 2h3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h3" />
                    <path d="M16.899 22A5 5 0 0 0 7.1 22" />
                    <path d="m9 2 3 6" />
                    <circle cx="12" cy="15" r="3" />
                </svg>
                <h1 class="font-medium text-xl">{% translate 'Retraining course' %}</h1>
            </a>
        </div>
    </div>
</div>


<!-- Contacts -->
<div class="relative">
    <div class="max-w-screen-2xl w-full mx-auto px-4 py-8 md:py-16 grid gap-8">
        <div class="max-w-screen-sm w-full mx-auto flex flex-col items-center gap-4">
            <h1 class="font-semibold text-2xl lg:text-3xl xl:text-4xl">
                {% translate 'Contact us' %}
            </h1>
            <div class="h-2 bg-amber-500 w-48"></div>
            <span class="text-muted block text-center">
                {% translate 'All the resources you can contact us' %}
            </span>
        </div>

        <div class="grid grid-cols-1 gap-8 lg:flex lg:items-start">
            <div class="flex-1">
                <div class="relative overflow-hidden aspect-video rounded-xl shadow">
                    <iframe src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=69.593311%2C42.320968&mode=search&oid=125570740268&ol=biz&z=17.09" width="100%" height="100%" frame-border="1" allow-full-screen=true style="position: 'relative';"></iframe>
                </div>
            </div>

            <div class="w-full grid gap-8 lg:max-w-lg">
                <div class="flex items-center gap-4">
                    <div class="bg-amber-500 rounded-full text-white p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin-icon lucide-map-pin">
                            <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                            <circle cx="12" cy="10" r="3" />
                        </svg>
                    </div>
                    <div class="flex-1">
                        <h1 class="text-xl font-medium">{% translate 'Address' %}</h1>
                        <span class="text-muted">{% translate '060001, Shymkent, A. Baitursynov N13' %}</span>
                    </div>
                </div>

                <div class="flex items-center gap-4">
                    <div class="bg-amber-500 rounded-full text-white p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-headset-icon lucide-headset">
                            <path
                                d="M3 11h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-5Zm0 0a9 9 0 1 1 18 0m0 0v5a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3Z" />
                            <path d="M21 16v2a4 4 0 0 1-4 4h-5" />
                        </svg>
                    </div>
                    <div class="flex-1">
                        <h1 class="text-xl font-medium">{% translate 'Call center' %}</h1>
                        <div class="grid">
                            <span class="text-muted">8 7252 40-07-05</span>
                            <span class="text-muted">8 708 438 65 61</span>
                        </div>
                    </div>
                </div>

                <div class="flex items-center gap-4">
                    <div class="bg-amber-500 rounded-full text-white p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-calendar-icon lucide-calendar">
                            <path d="M8 2v4" />
                            <path d="M16 2v4" />
                            <rect width="18" height="18" x="3" y="4" rx="2" />
                            <path d="M3 10h18" />
                        </svg>
                    </div>
                    <div class="flex-1">
                        <h1 class="text-xl font-medium">{% translate 'Working days' %}</h1>
                        <div class="grid">
                            <span class="text-gray-500">{% translate 'Monday-Friday' %} 9.00-18.00</span>
                            <span class="text-gray-500">{% translate 'Saturday' %} 9.00-13.00</span>
                        </div>
                    </div>
                </div>

                <div class="flex items-center gap-4">
                    <div class="bg-amber-500 rounded-full text-white p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-contact-icon lucide-contact">
                            <path d="M16 2v2" />
                            <path d="M7 22v-2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2" />
                            <path d="M8 2v2" />
                            <circle cx="12" cy="11" r="3" />
                            <rect x="3" y="4" width="18" height="18" rx="2" />
                        </svg>
                    </div>
                    <div class="flex-1">
                        <h1 class="text-xl font-medium">{% translate 'Executive Secretary' %}</h1>
                        <div class="grid">
                            <span class="text-gray-500">{% translate 'Bairbekova Lazzat Myrzakhanovna' %}</span>
                            <span class="text-gray-500">Blazzat69@mail.ru</span>
                        </div>
                    </div>
                </div>

                <div class="flex items-center gap-4">
                    <div class="bg-amber-500 rounded-full text-white p-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone">
                            <path
                                d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384" />
                        </svg>
                    </div>
                    <div class="flex-1">
                        <h1 class="text-xl font-medium">{% translate 'Phone' %}</h1>
                        <div class="grid">
                            <span class="text-gray-500">+7 (7252) 21 41 01</span>
                            <span class="text-gray-500">+7 (775) 722 30 98</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}
<script>
    var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
        },
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
    });
</script>
{% endblock js %}