{% extends 'base.html' %}

{% block title %}Басты бет{% endblock title %}


{% block content %}
<div class="w-full mx-auto">
    <div class="swiper mySwiper w-full aspect-video">
        <div class="swiper-wrapper">
            {% for item in headliners %}
                <div class="swiper-slide bg-primary-100">
                    <div class="w-full h-full flex justify-center items-center text-7xl">
                        <img src="{{ item.poster.url }}" class="w-full h-full" alt="{{ item.title }}">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<div class="relative">
    <div class="max-w-screen-xl mx-auto px-4 py-8 grid gap-8">
        <div class="max-w-xl w-full mx-auto grid gap-2 text-center">
            <h1 class="font-medium text-2xl lg:text-3xl xl:text-4xl">Қабылдау комиссиясы</h1>
            <span class="block text-muted">Ө.Жәнібеков атындағы Оңтүстік Қазақстан педагогикалық университетінің қабылдау комиссиясы</span>
        </div>
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <!-- Bachelor -->
            <a 
                href="/content/bachelor/list-of-educational-programs/list-of-educational-programs/"
                class="grid gap-2 text-center bg-primary-600 rounded-xl p-6 text-white transition-all hover:bg-secondary-100 hover:text-foreground"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-icon lucide-user mx-auto">
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                    <circle cx="12" cy="7" r="4" />
                </svg>
                <h1 class="font-medium text-xl">Бакалавриат</h1>
            </a>

            <!-- Magistracy -->
            <a 
                href="/content/magistracy/list-of-educational-programs/list-of-educational-programs/"
                class="grid gap-2 text-center bg-primary-600 rounded-xl p-6 text-white transition-all hover:bg-secondary-100 hover:text-foreground"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-graduation-cap-icon lucide-graduation-cap mx-auto">
                    <path
                        d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z" />
                    <path d="M22 10v6" />
                    <path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5" />
                </svg>
                <h1 class="font-medium text-xl">Магистратура</h1>
            </a>

            <!-- Doctoral -->
            <a 
                href="/content/doctoral/list-of-educational-programs/list-of-educational-programs/"
                class="grid gap-2 text-center bg-primary-600 rounded-xl p-6 text-white transition-all hover:bg-secondary-100 hover:text-foreground"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-atom-icon lucide-atom mx-auto">
                    <circle cx="12" cy="12" r="1" />
                    <path
                        d="M20.2 20.2c2.04-2.03.02-7.36-4.5-11.9-4.54-4.52-9.87-6.54-11.9-4.5-2.04 2.03-.02 7.36 4.5 11.9 4.54 4.52 9.87 6.54 11.9 4.5Z" />
                    <path
                        d="M15.7 15.7c4.52-4.54 6.54-9.87 4.5-11.9-2.03-2.04-7.36-.02-11.9 4.5-4.52 4.54-6.54 9.87-4.5 11.9 2.03 2.04 7.36.02 11.9-4.5Z" />
                </svg>
                <h1 class="font-medium text-xl">Докторантура</h1>
            </a>

            <!-- Retraining course -->
            <a 
                href="/content/retraining-courses/list-of-educational-programs/list-of-educational-programs/"
                class="grid gap-2 text-center bg-primary-600 rounded-xl p-6 text-white transition-all hover:bg-secondary-100 hover:text-foreground"
            >
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-id-card-lanyard-icon lucide-id-card-lanyard mx-auto">
                    <path d="M13.5 8h-3" />
                    <path d="m15 2-1 2h3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h3" />
                    <path d="M16.899 22A5 5 0 0 0 7.1 22" />
                    <path d="m9 2 3 6" />
                    <circle cx="12" cy="15" r="3" />
                </svg>
                <h1 class="font-medium text-xl">Қайта даярлау курсы</h1>
            </a>
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}
<script>
    var swiper = new Swiper(".mySwiper", {
        pagination: {
            el: ".swiper-pagination",
            dynamicBullets: true,
        },
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
    });
</script>
{% endblock js %}