{% load static %}
{% load i18n %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="kk" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - Талапкер | Zhanibekov University</title>
    <link rel="shortcut icon" href="{% static '/images/icon.png' %}" type="image/x-icon">
    {% tailwind_css %}
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet"
    />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />  <!-- Swiper JS -->
</head>

<body class="min-h-screen flex flex-col font-inter text-sm 2xl:text-base 3xl:text-lg text-foreground">
    <!-- Nav drawer -->
    {% include 'components/nav-drawer.html' %}
    {% include 'components/search-modal.html' %}
    
    <div class="flex-1">
        <!-- Header -->
        <header class="sticky top-0 z-10 lg:relative border-b bg-white border-border-200">
            <!-- Resources -->
            <div class="bg-primary-600">
                <div class="w-full min-w-xs max-w-screen-2xl mx-auto px-4 py-2 flex gap-4 justify-between overflow-x-auto">
                    {% for item in resources %}
                        <a 
                            href="{{ item.url }}" 
                            target="{% if item.target %}_blank{% else %}_self{% endif %}" 
                            class="text-white whitespace-nowrap transition-all hover:opacity-50"
                        >
                            {{ item.label }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <!-- Branding header -->
            <div class="max-w-screen-2xl w-full mx-auto px-4 flex justify-between items-center">
                <a href="{% url 'main' %}" class="relative">
                    <img src="{% static '/images/logo.png' %}" class="w-36 md:w-42" alt="Zhanibekov university logo" />
                    <span class="absolute top-3 right-3 text-xs text-primary-950">Талапкер</span>
                </a>

                <div class="flex gap-2 justify-between items-center">
                    <!-- Nav drawer button -->
                    <button
                        type="button"
                        class="inline-flex items-center p-2 justify-center cursor-pointer rounded-lg lg:hidden hover:bg-secondary-100 focus:outline-none focus:ring-2 focus:ring-secondary-200"
                        data-drawer-target="drawer-top-navbar" 
                        data-drawer-show="drawer-top-navbar" 
                        data-drawer-placement="top" 
                        aria-controls="drawer-top-navbar"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu">
                            <path d="M4 5h16" />
                            <path d="M4 12h16" />
                            <path d="M4 19h16" />
                        </svg>
                    </button>

                    <!-- Search modal button -->
                    <button
                        type="button"
                        data-modal-target="search-modal" 
                        data-modal-toggle="search-modal"
                        class="hidden lg:block p-2 focus:outline-none rounded-lg border border-border-200 hover:bg-secondary-100 focus:z-10 focus:ring-2 focus:ring-secondary-100"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search">
                            <path d="m21 21-4.34-4.34" />
                            <circle cx="11" cy="11" r="8" />
                        </svg>
                    </button>
                    
                    <!-- Switch language -->
                    <form action="{% url 'set_language' %}" method="post" class="hidden lg:flex items-center space-x-4">
                        {% csrf_token %}
                        
                        <div class="relative w-28">
                            <select 
                                name="language" 
                                onchange="this.form.submit()" 
                                class="block w-full py-2 px-4 border border-border-200 bg-white rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-600 focus:border-primary-600"
                            >
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                                        {{ language.name_local }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="hidden" name="next" value="{{ request.path }}">
                    </form>
                </div>
            </div>
        </header>

        <!-- Navigation -->
        <nav class="bg-white lg:border-b border-border-200 lg:sticky lg:top-0 lg:z-40">
            <div class="lg:max-w-screen-2xl mx-auto px-4 py-2">
                <div class="hidden w-full lg:block lg:w-auto">
                    <ul class="flex gap-8 justify-center">
                        <li>
                            <a 
                                href="{% url 'main' %}"
                                class="block py-2 px-3 text-white whitespace-nowrap bg-primary-600 rounded lg:bg-transparent lg:text-primary-600 lg:p-0"
                                aria-current="page"
                            >
                                {% translate 'Home page' %}
                            </a>
                        </li>
                        {% for category in categories %}
                            <li>
                                <button 
                                    id="dropdownNavbarLink-{{ category.id }}" 
                                    data-dropdown-toggle="dropdownNavbar-{{ category.id }}"
                                    class="flex gap-1 items-center justify-between whitespace-nowrap w-full py-2 px-3 hover:bg-secondary-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-600 lg:p-0 lg:w-auto"
                                >
                                    <span>{{ category.name }}</span>
                                    {% if category.children.all|length > 0 %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-chevron-down-icon lucide-chevron-down">
                                            <path d="m6 9 6 6 6-6" />
                                        </svg>
                                    {% endif %}
                                </button>

                                <div 
                                    id="dropdownNavbar-{{ category.id }}"
                                    class="z-10 hidden font-normal bg-white divide-y divide-secondary-100 rounded-lg shadow"
                                >
                                    <ul 
                                        class="py-2 text-foreground"
                                        aria-labelledby="dropdownLargeButton"
                                    >
                                        {% for sub in category.children.all %}
                                            <li>
                                                <a 
                                                    href="{% if sub.category_type == 'content' %}{% url 'content_detail' category.slug sub.slug sub.slug %}{% elif sub.category_type == 'link' %}{{ sub.url }}{% endif %}"
                                                    class="flex items-center gap-2 px-4 py-2 hover:bg-secondary-100"
                                                    target="{% if sub.target %}_blank{% else %}_self{% endif %}"
                                                >
                                                    {% if sub.category_type == 'link' %}
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-link-icon lucide-link">
                                                            <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
                                                            <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
                                                        </svg>
                                                    {% endif %}
                                                    <h1 class="flex-1 line-clamp-2">{{ sub.name }}</h1>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-white border-t border-border-200">
        <div class="max-w-screen-2xl mx-auto px-4 py-6 lg:py-8">
            <div class="grid gap-8 md:flex">
                <div class="flex flex-col gap-4 max-w-xs">
                    <!-- Logo -->
                    <div class="relative">
                        <a href="{% url 'main' %}" class="inline-flex items-center">
                            <img src="{% static '/images/logo.png' %}" class="w-36" alt="Zhanibekov university logo" />
                        </a>
                    </div>

                    <div class="grid gap-4">
                        <!-- Copyright -->
                        <span class="text-muted">
                            © 2025
                            <a href="https://zhanibekov.edu.kz" class="hover:underline">Zhanibekov University.</a>
                            {% translate 'All copyrights are protected.' %}
                        </span>

                        <!-- Social links -->
                        <div class="flex gap-2">
                            <a 
                                href="https://www.facebook.com/oqmpu?mibextid=ZbWKwL" 
                                class="text-foreground hover:text-muted"
                                target="_blank"
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook-icon lucide-facebook">
                                    <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
                                </svg>
                            </a>
                            <a 
                                href="https://www.instagram.com/zhanibekovuniversity/" 
                                class="text-foreground hover:text-muted"
                                target="_blank"    
                            >
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                    class="lucide lucide-instagram-icon lucide-instagram">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
                                    <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Links -->
                <div class="flex-1 grid grid-cols-2 gap-8 lg:grid-cols-3">
                    <!-- Navigation -->
                    <div class="flex flex-col gap-4">
                        <h2 class="font-medium">
                            {% translate 'Navigation' %}
                        </h2>
                        <ul class="text-muted grid gap-2">
                            <li>
                                <a href="{% url 'main' %}" class="hover:underline">{% translate 'Home page' %}</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">{% translate 'News' %}</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">{% translate 'Announcements' %}</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">{% translate 'Events' %}</a>
                            </li>
                        </ul>
                    </div>

                    <!-- Resources -->
                    <div class="flex flex-col gap-4">
                        <h2 class="font-medium">
                            {% translate 'Resources' %}
                        </h2>
                        <ul class="text-muted grid gap-2">
                            {% for item in resources %}
                                <li>
                                    <a 
                                        href="{{ item.url }}" 
                                        target="{% if item.target %}_blank{% else %}_self{% endif %}" 
                                        class="hover:underline"
                                    >
                                        {{ item.label }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- CDN -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    {% block js %}
    {% endblock js %}
</body>
</html>