{% load static %}
{% load i18n %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="kk" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} - Талапкер | Zhanibekov University</title>
    <link rel="shortcut icon" href="{% static '/images/icon.png' %}" type="image/x-icon">
    {% tailwind_css %}
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet"
    />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />  <!-- Swiper JS -->
</head>

<body class="min-h-screen flex flex-col font-inter text-sm 2xl:text-base 3xl:text-lg text-foreground">
    {% include 'components/nav-drawer.html' %}
    {% include 'components/search-modal.html' %}
    
    <div class="flex-1">
        <!-- Header -->
        <header class="sticky top-0 z-10 lg:relative border-b bg-white border-border-200">
            {% include 'components/header.html' %}
        </header>
        <nav class="bg-white lg:border-b border-border-200 lg:sticky lg:top-0 lg:z-40">
            {% include 'components/navigation.html' %}
        </nav>

        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </div>

    <!-- Footer -->
    <footer class="bg-white border-t border-border-200">
        {% include 'components/footer.html' %}
    </footer>
    
    <!-- CDN -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    {% block js %}
    {% endblock js %}
</body>
</html>